/* 
 * Responsive Design
 * Mobile First Approach
 * PC: 1024px and above
 * Tablet: 768px - 1023px
 */
@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p,
  strong,
  a,
  span,
  button,
  input,
  label,
  select,
  option {
    font-size: 1.4rem;
  }

  #book-form div:last-child {
    justify-content: center;
    gap: 30px;
  }

  #book-form button {
    flex: unset;
    width: auto;
    min-width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #book-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  #book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .logo-img {
    padding-left: 10px;
  }

  header h1 {
    padding-right: 10px;
  }

  #burger-menu {
    display: none;
  }

  #side-menu {
    position: static;
    width: 100%;
    height: auto;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  #side-menu ul {
    display: flex;
    gap: 20px;
    padding: 0;
  }

  #side-menu ul li {
    padding: 0;
  }

  #side-menu ul li a {
    color: #1b3d2f;
    font-weight: bold;
  }

  #menu-overlay {
    display: none !important;
  }

  #close-menu {
    display: none;
  }

  .menu-icon {
    filter: brightness(100) invert(1);
  }
}
